<p id="notice"><%= notice %></p>

<p>
  <strong>Android:</strong>
  <%= @acc_datum.android_id %>
</p>

<p>
  <strong>Time stamp:</strong>
  <%= @acc_datum.time_stamp %>
</p>

<p>
  <strong>X:</strong>
  <%= @acc_datum.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @acc_datum.y %>
</p>

<p>
  <strong>Z:</strong>
  <%= @acc_datum.z %>
</p>

<p>
  <strong>Note:</strong>
  <%= @acc_datum.note %>
</p>

<%= link_to 'Edit', edit_acc_datum_path(@acc_datum) %> |
<%= link_to 'Back', acc_data_path %>
